.user-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: flex-start;
  text-align: start;
  margin-left: 50px;
  background-color: rgb(151, 151, 214);

  width: fit-content;
  height: fit-content;
  margin-top: 7%;

  border-radius: 20px;
  position: fixed;

  font-weight: bold;
}

.user-nav a {
  text-decoration: none;
}

.user-nav-sec {
  display: flex;
  margin: 8px;
  padding: 8px;
  width: 200px;
}

.user-nav-sec img {
  width: 40px;
  height: 50px;
}

.user-nav-sec p {
  padding-left: 15px;
}

.user-nav-sec:hover {
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 12px;
}
