.user-privacy {
  flex-direction: row;
  position: fixed;
  background: linear-gradient(rgb(178, 178, 224), rgb(224, 224, 233));
  border-radius: 20px;

  margin-left: 30%;
  margin-top: 6%;

  width: 60%;

  height: 80%;

  font-weight: bolder;
}
.user-privacy button {
  margin-left: 0px;
}

.user-privacy input {
  background-color: aliceblue;
  align-self: center;
  height: 30px;
  font-size: 15px;
  border-radius: 13px;
  border: none;
  outline: none;
}

.user-privacy label {
  display: flex;
  visibility: hidden;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
}

.user-privacy option {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-radius: 12px;
}

.user-privacy select {
  padding: 0 5px;
  height: 30px;
  font-size: 14px;
  border-radius: 13px;
  border: none;
  align-self: center;
  outline: none;
  width: 150px;
}

.user-priv-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
}

.user-privacy h2 {
  background-color: rgb(132, 180, 221);
}

.user-priv-sec-pwd button {
  display: block;
  width: 20%;
  margin-left: 40%;
}
